body > div:first-of-type {
  overflow-y: auto !important;
}

body {
  font-family: Calibri;
}

.scroll-fix {
  width: 256px;
  right: 0px;
  top: 0 !important;
  position: fixed !important;
  pointer-events: all;
  transform: none !important;
}

.deleteButton {
  background-color: transparent;
  margin-left: 90px;
  border: none;
  cursor: pointer;
}

.draggable {
  touch-action: none;
  user-select: none;
}

.base-input-container {
  display: block;
  width: 208px;
  min-height: 20px;
}

.componentTitle {
  width: 208px;
}

.position-background {
  width: 100px;
  height: 100px;
  display: block;
  background-color: white;
  border: 2px black solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.position-indicator {
  display: block;
  width: 10px;
  height: 10px;
  background-color: lightblue;
  border-radius: 10px;
  border: 2px black solid;
}
