body {
  font-family: Calibri;
}

.deleteButton {
  background-color: transparent;
  margin-left: 90px;
  border: none;
  cursor: pointer;
}

.draggable {
  touch-action: none;
  user-select: none;
}

.base-input-container {
  display: block;
  width: 208px;
}

.component-title {
  width: 208px;
}

.component-title-info {
  font-size: 16px;
  font-weight: normal;
  color: gray;
}

.component-title-info .tooltip-left::after {
  width: 250px;
  white-space: normal;
  z-index: 9999;
}

.component-title .fa {
  color: gray;
}

.position-background {
  width: 100px;
  height: 100px;
  display: block;
  background-color: white;
  border: 2px black solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.position-indicator {
  display: block;
  width: 10px;
  height: 10px;
  background-color: lightblue;
  border-radius: 10px;
  border: 2px black solid;
}

.connection-network-background {
  width: 100%;
}

.connection-input-indicator,
.connection-output-indicator {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}

.connection-input-indicator {
  margin: 20px 0px 40px 0px;
}

.connection-output-indicator {
  margin: 40px 0px 20px 0px;
}

.connection-inputs,
.connection-outputs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

div.connection-line {
  transform-origin: 0 100%;
  height: 4px;
  background: #000;
  position: absolute;
  cursor: pointer;
  transform-origin: 0% 50%;
}

div.connection-line:hover {
  box-shadow: 0px 0px 2px black;
}

.sidepar-seperator {
  min-height: 0px !important;
  border: none;
  border-bottom: 1px solid #ccc;
}

button,
.button,
[type='submit'],
.dropimage {
  margin: none;
  transition: none;
}

.swal-overlay--show-modal .swal-modal {
  animation: none;
}

.swal-modal {
  border-radius: 3px;
}

.swal-button {
  border-radius: 2px;
  text-shadow: none;
  padding: 5px 20px;
  background-color: #aabbcc;
}

.swal-button:focus {
  outline: none;
  box-shadow: none;
}

.swal-button:not([disabled]):hover {
  background-color: #bbcccc;
}

.swal-button--cancel {
  background-color: #eeeeee;
}
